@model DinnerWebApp.Models.Dinner

@{
    ViewData["Title"] = "View";
}

<h1>Add a Dinner</h1>

<h4>Dinner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                @Html.EditorFor(model => model.Date)
            </div>
            <div class="form-group">
                <label asp-for="BaseScore" class="control-label"></label>
                @Html.TextBoxFor(model => model.BaseScore, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="BonusPoints" class="control-label"></label>
                @Html.TextBoxFor(model => model.BonusPoints, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.ActionLink("Create", "Create", "Dinner", new
               {
                   dinner = new Dinner()
                   {
                       Date = Model.Date,
                       Description = Model.Description,
                       BaseScore = Model.BaseScore,
                       BonusPoints = Model.BonusPoints
                   }
               },
                new { @class = "btn btn-primary" })
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Dinner">Back to List</a>
</div>

