@model DinnerWebApp.Models.Dinner

@{
    ViewData["Title"] = "View";
}

<div>
    <h4>Dinner for @Model.Date</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.OwnerName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BonusPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BonusPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
