@model DinnerWebApp.Models.DinnerModel

@{
    ViewData["Title"] = "Index";
    var counter = 1;
}

<div class="form-group">
    @Html.ActionLink("Add Dinner", "AddNewDinner", "Dinner", null, new { @class = "btn btn-primary" })
</div>

@if (Model != null && Model.Dinners != null && Model.Dinners.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model)
                </th>
                <th>
                    Date
                </th>
                <th>
                    Description
                </th>
                <th>
                    Score
                </th>
                <th>
                    Owner
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Dinners)
            {
                <tr>
                    <td>
                        @counter

                        @{counter++;}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Dinners.Count == Model.Take)
    {
        <a asp-action="Index"
           asp-route-Skip="@(Model.Skip + Model.Take)"
           class="btn btn-primary">
            Next
        </a>
    }
}
else
{
    <p>There is no dinner data to display.</p>
}
